/* CSS STRUCTURE TEMPLATE */
.selector {
    /* POSITIONING */
    position: absolute, relative, fixed;
    z-index: 10;
    top: 0;
    right: 0;
    /* DISPLAY & BOX MODEL */
    display: block, flex, etc;
    overflow: visible, hidden, scroll, etc;
    box-sizing: border-box, etc;
    width: - - -;
    height: - - - ;
    padding: 10px 10px;
    border: 0 solid color;
    margin: - - - ;
    /* COLOR */
    background: - - - ;
    color: - - - ;
    /* TEXT */
    font-family: 'Roboto';
    font-size: normal;
    line-height: - - - ;
    text-align: center;
    text-transform: uppercase;
    /* OTHER */
    cursor: - - - ;
}

body {
    background-color: white;
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

/* Rectangle 1 */
.rectangle1 {
    position: absolute;
    width: 1440px;
    height: 68px;
    background:rgba(0, 0, 0, 0.69);
    margin-top: 24px;
    margin-left: 0px;
}

.test {
    position: absolute;
    
    left: 0px;
    width: 100%;
    top: 653px;
}



.test span {
    
    
    display: block;

    white-space: nowrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 51px;
    line-height: 60px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

h1 {
    
    width: 829px;
    height: 93px;
    
    white-space: nowrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 79px;
    line-height: 93px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    
    /* Sublight Engines/Orange */

    color: #FFFFFF;
}

/* logo_sublight */
.logo {
    position: absolute;
    width: 465px;
    height: 86px;
    margin-top: 15px;
    margin-left: 20px;
    z-index: 1;
}



.elevatorbutton {
    position: absolute;
    width: 65px;
    height: 64px;
    margin-top: 831px;
    margin-left: 691px;
    z-index: 1;
}


.bckimage {
    position: absolute;
    height: 960px;
    margin-top: 0px;
    margin-left: 0px;
    z-index: -1;
}

.rectangle2 {
    position: absolute;
    display: grid;
    z-index: -1;
    width: 1440px;
    height: 711px;
    background-color: #383838;
    top: 960px;
    left: 0px;
    align-self: center;
}

.container {
    
    width: 100%;
    
    left: 0px;
    top: 1040px;
    text-align: center;
}

.container span {
    
    height: 29px;
    : ;
    
    display: block;
    white-space: nowrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}


.container2 {
    display: inline;
    
    justify-content: space-evenly;
}



h2 {
    
    
    height: 53px;
    
    top: 1073px;
    white-space: nowrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.design {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 180px;
    top: 1242px;
}




.rectangle3 {
    position: absolute;
    height: 853px;
    width: 1440px;
    background-color: #FF7630;
    margin-top: 2242px;
    margin-left: 0px;
}



.rectangle8 {
    position: absolute;
    width: 1440px;
    height: 254px;
    background-color: #292929;
    margin-top: 3899px;
    margin-left: 0px;
}

.h4 {
    position: absolute;
    width: 552px;
    height: 53px;
    left: 258px;
    top: 3999px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    /* identical to box height */



    color: #FF7630;
}



.navbutton {
    list-style-type: none;
    display: inline;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF
}

.navbutton1 {
    position: absolute;
    display: inline;
    white-space: nowrap;
    width: 110px;
    height: 19px;
    left: 720px;
    top: 49px;
}

.navbutton2 {
    position: absolute;
    display: inline;
    white-space: nowrap;
    width: 119px;
    height: 19px;
    left: 885px;
    top: 49px;
}

.navbutton3 {
    position: absolute;
    display: inline;
    white-space: nowrap;
    width: 77px;
    height: 19px;
    left: 1059px;
    top: 49px;
}

.navbutton4 {
    position: absolute;
    display: inline;
    white-space: nowrap;
    width: 97px;
    height: 19px;
    left: 1191px;
    top: 49px;
}


.copyright {
    position: absolute;
    width: 223px;
    height: 12px;
    left: 609px;
    top: 4422px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;

    /* Sublight Engines/Black */

    color: #292929;
}

.address {
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;

    /* Sublight Engines/Black */

    color: #292929;
}


.rectangle4 {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #383838;
    position: absolute;
    height: 711px;
    top: 960px;
    left: 0px;

}

.rectangle4 > div{
    background: color #292929;;
    padding: 1em;
}
.rectangle4 > div:nth-child(odd) {
    background-color:#292929;
}

/* positionning */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    position: absolute;
    width: 295px;
    height: 78px;
    left: 67px;
    top: 4258px;
    left: 0;
    
}

.right {
    position: absolute;
    width: 126px;
    height: 18px;
    left: 1244px;
    top: 4233px;
    

}